In [2]:
print("hellow python")

hellow python

In [7]:
x=55.0
monadic_equation=9*x+1
print("monadic_equation=",monadic_equation)
print("monadic_equation=%.3f"%monadic_equation)
print("monadic_equation={:.3f}".format(monadic_equation))

monadic_equation= 496.0
monadic_equation=496.000
monadic_equation=496.000

In [15]:
city_name="chengdu"
coordinate_longitude=102.5496
coordinate_latitude=30.05
print("the longitude of the chengdu coordinate is{lon:.2f},and the latitude is {lat}.".format(lon=coordinate_longitude,lat=coordinate_latitude))

the longitude of the chengdu coordinate is102.55,and the latitude is 30.05.

In [19]:
a,b,c=9,6,8
func_2=2*a+3*b+c
print("func_2={}".format(a,b,c,func_2))

func_2=9

In [23]:
lst_n=list(range(8,32,4))
print(lst_n)
print("the list length={}".format(len(lst_n)))
print("maximum value={}".format(max(lst_n)))
print("minimum value={}".format(min(lst_n)))

[8, 12, 16, 20, 24, 28]
the list length=6
maximum value=28
minimum value=8

In [26]:
lst_s=list(map(chr,range(100,109)))
print(lst_s)
print("_"*50)
print("[3:6]->{}".format(lst_s[3:6]))
print("[-3:-1]->{}".format(lst_s[-3:-1]))
print("[:]->{}".format(lst_s[:]))

['d', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l']
__________________________________________________
[3:6]->['g', 'h', 'i']
[-3:-1]->['j', 'k']
[:]->['d', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l']

In [33]:
print(lst_s)
print("_"*50)
print("[0:10:2]->{}".format(lst_s[0:10:2]))
print("[::3]->{}".format(lst_s[::3]))
print("[9:3:-2]->{}".format(lst_s[9:3:-2]))
print("[20:3:-2]->{}".format(lst_s[20:3:-2]))
print("[7::-2]->{}".format(lst_s[7::-2]))
print("[:3:-2]->{}".format(lst_s[:3:-2]))

['d', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l']
__________________________________________________
[0:10:2]->['d', 'f', 'h', 'j', 'l']
[::3]->['d', 'g', 'j']
[9:3:-2]->['l', 'j', 'h']
[20:3:-2]->['l', 'j', 'h']
[7::-2]->['k', 'i', 'g', 'e']
[:3:-2]->['l', 'j', 'h']

In [36]:
tuple_1=1,3,5,
print("tuple_1=2,3,5,->{}".format(tuple_1))
print("3*(20*4,)->{}".format(3*(20*4,)))
print("tuple((5,7,9))->{}".format(tuple((5,7,9))))

tuple_1=2,3,5,->(1, 3, 5)
3*(20*4,)->(80, 80, 80)
tuple((5,7,9))->(5, 7, 9)

 dict={"a":("apple",)<"bo":{"b":"banana","o":"orange"},"g":["grape","grapefruit"]}
 print dict["a"]
 print dict["a"][0]
 print dict["bo"]
 print dict["bo"][o]
 print dict["g"]
 print dict["g"]{1]

In [4]:
from string import Template
s_template_1=Template("$x,glorious,$x!")
s_1=s_template_1.substitute(x="Python")
print("s_1=s_template_1.substitute(x=\"Python\")->{}".format(s_1))
s_template_2=Template("${x}thon is amazing!")
s_2=s_template_2.substitute(x="py")
print("s_2=s_template_2.substitute(x=\"py\")->{}".format(s_2))
s_template_3=Template("$x and $y are both amazing!")
substitute_dict=dict([('x','Python'),('y','Grasshopper')])
print("substitute_dict={}".format(substitute_dict))
s_3=s_template_3.substitute(substitute_dict)
print("s_3=s_template_3.substitute(substitute_dict)->{}".format(s_3))

s_1=s_template_1.substitute(x="Python")->Python,glorious,Python!
s_2=s_template_2.substitute(x="py")->python is amazing!
substitute_dict={'x': 'Python', 'y': 'Grasshopper'}
s_3=s_template_3.substitute(substitute_dict)->Python and Grasshopper are both amazing!

In [8]:
import random
items=[(0,[i for i in range(5)]),(1,[random.sample(list(range(100,200,1)),3)]),(2,'python')]
print("items->{}".format(items))
dic=dict(items)
print("dic=dict(items)->{}".format(dic))
print("dic[1]->{}".format(dic[1]))

items->[(0, [0, 1, 2, 3, 4]), (1, [[191, 120, 102]]), (2, 'python')]
dic=dict(items)->{0: [0, 1, 2, 3, 4], 1: [[191, 120, 102]], 2: 'python'}
dic[1]->[[191, 120, 102]]

In [9]:
lst_A=list(range(6,24,3))
lst_B=list(range(60,150,15))
print("lst_A={},lst_B={}".format(lst_A,lst_B))
dic_2={0:lst_A,1:lst_B}
print("dic_2={}".format(dic_2))

lst_A=[6, 9, 12, 15, 18, 21],lst_B=[60, 75, 90, 105, 120, 135]
dic_2={0: [6, 9, 12, 15, 18, 21], 1: [60, 75, 90, 105, 120, 135]}

In [10]:
i=1
while i<10:
    j=1
    while j <= i:
        print("%d*%d=%d"%(i,j,i*j),end=' ')
        j+=1 
    print("\n") 
    i+=1

1*1=1

2*1=2 2*2=4

3*1=3 3*2=6 3*3=9

4*1=4 4*2=8 4*3=12 4*4=16

5*1=5 5*2=10 5*3=15 5*4=20 5*5=25

6*1=6 6*2=12 6*3=18 6*4=24 6*5=30 6*6=36

7*1=7 7*2=14 7*3=21 7*4=28 7*5=35 7*6=42 7*7=49

8*1=8 8*2=16 8*3=24 8*4=32 8*5=40 8*6=48 8*7=56 8*8=64

9*1=9 9*2=18 9*3=27 9*4=36 9*5=45 9*6=54 9*7=63 9*8=72 9*9=81

In [11]:
dict0 = dict() 
print('dict0:', dict0)
 
dict1 = dict({'name': 'li', 'age': 24})  
print('dict1:', dict1)
 
dict2 = dict(user='admin', password=123456) 
print('dict2:', dict2)
 
dict3 = dict([('student', 1), ('teacher', 2)]) 
print('dict3:', dict3)
 
dict5 = dict(zip(['a', 'A'], [3, 4]))  
print('dict5:', dict5)

dict0: {}
dict1: {'name': 'li', 'age': 24}
dict2: {'user': 'admin', 'password': 123456}
dict3: {'student': 1, 'teacher': 2}
dict5: {'a': 3, 'A': 4}

In [12]:
import re
string="2345  3456  4567  5678"
regex=re.compile("(\w+)\s+\w+")
print(regex.findall(string))

['2345', '4567']

In [13]:
for i in range(5):
 print(i)

0
1
2
3
4

In [14]:
sum = 0
for i in range(2,101,2):
    sum += i
print(sum)

2550

In [15]:
num = int(input('请输入一个数字：'))
res = 1
for i in range(1, num + 1):   
 res*=i
print('%d的阶乘为：%d' %(num,res))

请输入一个数字： 56

56的阶乘为：710998587804863451854045647463724949736497978881168458687447040000000000000

In [16]:
for x in range(1,5):
    for y in range(1,5):
        for z in range(1,5):
                if (x!=y) and (y!=z) and (z!=x):
                        print("%d%d%d" % (x, y, z))

123
124
132
134
142
143
213
214
231
234
241
243
312
314
321
324
341
342
412
413
421
423
431
432

In [17]:
row = 1
while row <= 9:
    col = 1
    while col <= 10 - row:
        print('%d*%d=%d\t' % (row, col, row * col), end='')
        col += 1
    print('')
    row += 1

1*1=1	1*2=2	1*3=3	1*4=4	1*5=5	1*6=6	1*7=7	1*8=8	1*9=9
2*1=2	2*2=4	2*3=6	2*4=8	2*5=10	2*6=12	2*7=14	2*8=16
3*1=3	3*2=6	3*3=9	3*4=12	3*5=15	3*6=18	3*7=21
4*1=4	4*2=8	4*3=12	4*4=16	4*5=20	4*6=24
5*1=5	5*2=10	5*3=15	5*4=20	5*5=25
6*1=6	6*2=12	6*3=18	6*4=24
7*1=7	7*2=14	7*3=21
8*1=8	8*2=16
9*1=9

In [18]:
count = 0
while count < 9:
    print('The count is:%d' %count)
    count = count + 1
print("Good bye!")

The count is:0
The count is:1
The count is:2
The count is:3
The count is:4
The count is:5
The count is:6
The count is:7
The count is:8
Good bye!

In [ ]:
while True:
    num=input('enter a number:')
    print('your number is ',num)
print ('循环结束！')

enter a number: 16

your number is  16

enter a number: 36

your number is  36

In [ ]:
row = 1
while row <=5:
    col=1
    while col<=row:
        print('*',end='')
        col +=1
    print('') 
    row +=1

In [ ]:
age = 18
if age >= 18:
    print('你已成年！')
else:
    print('你未成年！')

In [ ]:
year = int(input('输入年份:'))
if year %4 ==0 and year %100 != 0:
    print('%d是闰年' %year)
elif year %400 ==0:
    print('%d是闰年'%year)
else:
    print('%d不是闰年' %year)

In [ ]:
def test_classmethod(cls):
        print("This is classmethod")
        print("stc_attr", cls.stc_attr)
        print("attr", cls.attr)

In [ ]:
def me(x):
    if x == 1:
        return x
    return x* me(x-1)

In [ ]:
print("when we use 'for':")
for i in range(10):
    print('i:',i)
    for j in range(i+1,10):
        print('\tj=',j)
        if i+j<5:
            j=j+1
            continue
        else:
            i=j
            break